.aside {
    display: flex;
    flex-direction: column;
    background: #eeeeee;
}

.aside .dogs {
    overflow-y: auto;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 205px);
}

.aside-dog {
    display: grid;
    grid-template-columns: 30px auto 70px;
    align-items: center;
    padding: 15px;
}

.aside-dog:hover {
    background: #ccc;
    cursor: pointer;
}

.aside-dog .icon {
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-dog .icon img {
    width: 20px;
    height: 20px;
}

.aside-dog .viewers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside-dog .viewers .amount {
    font-size: large;
}

.aside-dog .viewers .pulse {
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 4px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(0.9);
    }
}

.aside-dog .name {
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.aside-dog .name:hover {
    color: #7447dd;
}

.aside .footer_wrap {
    display: block;
    padding: 15px;
    padding-top: 0px;
}

.aside .footer_wrap:before {
    content: "";
    position: absolute;
    left: 0;
    width: 240px;
    height: 5px;
    background: #555;
}

.aside .footer {
    text-align: center;
    background: #cccccc;
    height: 100px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0.2em;
}

.aside span.footer-text::selection {
    background: #f6af44;
    color: white;
}

.aside .social_media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

.aside .social_media a:hover {
    color: #f6af44;
}

@media all and (max-width: 1200px) {
    .aside .footer_wrap {
        display: none;
    }
    .aside .dogs {
        overflow-x: hidden;
        height: calc(100vh - 70px);
    }
    .aside-dog :not(:first-child) {
        display: none;
    }
}

.aside .dogs::-webkit-scrollbar {
    width: 6px;
}

.aside .dogs::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

.aside .dogs::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.aside .dogs {
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) auto;
}