.video_card {
    color: #5d5e5e;
    overflow: hidden;
}

.video_card .preview img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.video_card .description {
    height: 60px;
    display: grid;
    grid-template-columns: 30px auto 10px;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 240px auto;
    height: calc(100vh - 70px);
}

.main_panel {
    padding: 15px 10px 0px 15px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) auto;
}

.main_panel_content {
    flex-grow: 1;
}

.categories {
    height: 30px;
    display: flex;
    grid-gap: 15px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.category {
    background: #cccccc;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 3em;
    border: 2px solid #bbbbbb;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.category:first-child {
    background: #f6af44;
    border: 2px solid #f6af44;
    color: white;
}

.category:not(:first-child):hover {
    background: #bbbbbb;
    border: 2px solid #f6af44;
}

.main_panel .videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.main_panel .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    height: 500px;
}

.main_panel .carousel input[type=radio] {
    display: none;
}

.carousel-card {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 150px;
    justify-items: stretch;
}

.carousel-card .description {
    width: 200px;
    position: relative;
    margin-left: 45px;
    justify-self: center;
    background: #eeeeee;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5d5e5e;
}

.carousel-card .description .info {
    display: grid;
    grid-template-columns: 30px auto;
    margin-bottom: 15px;
}

.carousel-card .description .detail{
    font-size: 22px;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cards .preview_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#item-1:checked~.cards #card-5,
#item-2:checked~.cards #card-1,
#item-3:checked~.cards #card-2,
#item-4:checked~.cards #card-3,
#item-5:checked~.cards #card-4 {
    transform: translatex(-30%) scale(.9);
    opacity: .9;
    z-index: 1;
}

#item-1:checked~.cards #card-2,
#item-2:checked~.cards #card-3,
#item-3:checked~.cards #card-4,
#item-4:checked~.cards #card-5,
#item-5:checked~.cards #card-1 {
    transform: translatex(30%) scale(.9);
    opacity: .9;
    z-index: 1;
}

#item-1:checked~.cards #card-4,
#item-2:checked~.cards #card-5,
#item-3:checked~.cards #card-1,
#item-4:checked~.cards #card-2,
#item-5:checked~.cards #card-3 {
    transform: translatex(-50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #card-3,
#item-2:checked~.cards #card-4,
#item-3:checked~.cards #card-5,
#item-4:checked~.cards #card-1,
#item-5:checked~.cards #card-2 {
    transform: translatex(50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #card-1,
#item-2:checked~.cards #card-2,
#item-3:checked~.cards #card-3,
#item-4:checked~.cards #card-4,
#item-5:checked~.cards #card-5 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 2;
}

@media all and (max-width: 650px) {
    .carousel-card {
        grid-template-columns: none;
    }
}

.preview {
    overflow: hidden;
    position: relative;
}

.preview .live-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.preview .paw {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    color: white;
    cursor: pointer;
}

.preview:hover .paw {
    display: block;
}

.preview:hover .preview_img::after {
    animation: fadein .5s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview .viewers,
.preview .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.description .avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.description .avatar img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.description .names {
    width: 100%;
    display: grid;
    white-space: nowrap;
    padding-left: 10px;
}

.description .names span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.description .names span:hover {
    color: #f6af44;;
}

.description .names span::selection,
.description span.detail::selection {
    background: #f6af44;
    color: white;
}

.description .video-name {
    font-size: large;
    color: black;
}

.description .options{
    cursor: pointer;
}

.main_panel .footer {
    color: black;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: larger;
}

.main_panel::-webkit-scrollbar {
    width: 5px;
}

.main_panel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

.main_panel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.categories::-webkit-scrollbar {
    height: 0px;
}

.categories {
    scrollbar-width: none;
}


@media all and (max-width: 1200px) {
    .main {
        grid-template-columns: 60px auto;
    }
}